<div class="container text-center transparent">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <h1>Analyze Sentiments</h1>
      
      <li><%= link_to "Analyze Your Tweets", twitter_login_path, class:"btn btn-primary btn-nav" %></li>
      <li><%= link_to "Analyze Your Friends Tweets", twitter_login_path, class:"btn btn-primary btn-nav" %></li>
    </div>
  </div>
</div>
