<div class="container text-center transparent2">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="landing_text">Analyze Sentiments Dashboard</h1>
      <p><%= link_to "Analyze Your Tweets", tweets_path, class:"btn btn-lg btn-primary btn-nav" %></p>
      <p><%= link_to "Analyze Your Friends Tweets", friends_path, class:"btn btn-lg btn-primary btn-nav" %></p>
      <!-- <p>link_to "Analyze Any Turing Tweets", turing_path, class:"btn btn-primary btn-nav"</p> -->

      <!-- <p>link_to "Analyze Any Twitter Handle's Tweets", handle_path, class:"btn btn-primary btn-nav"</p> -->
    </ul>
    </div>
  </div>
</div>
