---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/home_timeline.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="pW5Zo6qBTIY0V5bH2SsUdVdeK", oauth_nonce="1b2b681a0bc91b7a1a473a8b28bdade1",
        oauth_signature="hxciszeFOuJYkbAxFkFVg%2F4fBWQ%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1469847996", oauth_token="9546612-47RWdyWOgsoHhkxNvgiWu9JkAj3xcHElIg98FyfWm6",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 30 Jul 2016 03:06:37 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - e338454508a415669deda3cd357d18d6
      X-Rate-Limit-Limit:
      - '15'
      X-Rate-Limit-Remaining:
      - '14'
      X-Rate-Limit-Reset:
      - '1469848897'
      X-Response-Time:
      - '205'
      X-Transaction:
      - 004b9ede00a20f26
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Sat Jul 30 03:01:53 +0000 2016","id":759222455294693376,"id_str":"759222455294693376","text":"This
        hits a little too close to home. https:\/\/t.co\/eH64gC5HgZ","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/eH64gC5HgZ","expanded_url":"https:\/\/twitter.com\/BrainTraffic\/status\/759138103743229952","display_url":"twitter.com\/BrainTraffic\/s\u2026","indices":[38,61]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/android\" rel=\"nofollow\"\u003eTwitter
        for Android\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":344462283,"id_str":"344462283","name":"Bryce
        Propheter","screen_name":"BrycePropheter","location":"Gilbert, Arizona","description":"A
        change instigator.","url":"http:\/\/t.co\/aOj9g8uC4z","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/aOj9g8uC4z","expanded_url":"http:\/\/rocketmedia.com\/","display_url":"rocketmedia.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":174,"friends_count":273,"listed_count":15,"created_at":"Fri
        Jul 29 03:05:11 +0000 2011","favourites_count":795,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":2937,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/525036517761114112\/WFvpUDD4_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/525036517761114112\/WFvpUDD4_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":759138103743229952,"quoted_status_id_str":"759138103743229952","quoted_status":{"created_at":"Fri
        Jul 29 21:26:42 +0000 2016","id":759138103743229952,"id_str":"759138103743229952","text":"NOW
        THIS IS PROCESS!\n\nhttps:\/\/t.co\/YEUQ8X7DqM","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/YEUQ8X7DqM","expanded_url":"http:\/\/bit.ly\/2aayitU","display_url":"bit.ly\/2aayitU","indices":[22,45]}]},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTw[...]
