---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cFc1Wm82cUJUSVkwVjViSDJTc1VkVmRlSzoyUzNoZ0ljQk5JUkN0OVR2WWJJM0J6T0Y3ejVpNkhXOTg1d0RBam80d09JbmZWSDJyWg==
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 30 Jul 2016 02:54:31 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 0a4652cded8f3f10e18f0937b8058fa4
      X-Response-Time:
      - '81'
      X-Transaction:
      - 00628e7d0017c89c
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAABUQwQAAAAAARjwBovu551Bb4fn8Ev9h%2FiwOAmo%3DAFIr1h9Lfa3zjvon8IWCKECuOpuZsBVLtQk0UBwQQ68iXciXyp"}'
  recorded_at: Sat, 30 Jul 2016 02:54:31 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name=dhamel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAABUQwQAAAAAARjwBovu551Bb4fn8Ev9h%2FiwOAmo%3DAFIr1h9Lfa3zjvon8IWCKECuOpuZsBVLtQk0UBwQQ68iXciXyp
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 30 Jul 2016 02:54:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 25f89d8c77d6e558d519881b7212516a
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '1469848172'
      X-Response-Time:
      - '85'
      X-Transaction:
      - 005de06c00fffbd3
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '[{"created_at":"Wed Jul 27 03:18:45 +0000 2016","id":758139534794043392,"id_str":"758139534794043392","text":"RT
        @HeaphyDarren: I love this talk from David Snowden (@snowded) on Complexity
        Informed Design Thinking at LeanWX ''16 https:\/\/t.co\/k1Y94Ta0\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"HeaphyDarren","name":"Darren
        Heaphy","id":457729764,"id_str":"457729764","indices":[3,16]},{"screen_name":"snowded","name":"Dave
        Snowden","id":6144162,"id_str":"6144162","indices":[55,63]}],"urls":[{"url":"https:\/\/t.co\/k1Y94Ta0z2","expanded_url":"http:\/\/buff.ly\/29T5vK8","display_url":"buff.ly\/29T5vK8","indices":[118,140]}]},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":9546612,"id_str":"9546612","name":"Deb
        Hamel","screen_name":"dhamel","location":"Denver, Colorado","description":"I
        love being alive.","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":25,"friends_count":136,"listed_count":1,"created_at":"Fri
        Oct 19 17:14:57 +0000 2007","favourites_count":5,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":148,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"EDECE9","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/489200327732641792\/kBXA5MgG.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/489200327732641792\/kBXA5MgG.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/127062299\/one_eye_face_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/127062299\/one_eye_face_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/9546612\/1405469797","profile_link_color":"088253","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"E3E2DE","profile_text_color":"634047","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Fri
        Jul 22 13:41:09 +0000 2016","id":756484226346778624,"id_str":"756484226346778624","text":"I
        love this talk from David Snowden (@snowded) on Complexity Informed Design
        Thinking at LeanWX ''16 https:\/\/t.co\/k1Y94Ta0z2","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"snowded","name":"Dave
        Snowden","id":6144162,"id_str":"6144162","indices":[37,45]}],"urls":[{"url":"https:\/\/t.co\/k1Y94Ta0z2","expanded_url[...]
