<div class="container text-center">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="landing_text">Analyze your last 10 tweets</h1>
      <!-- <p><%#= link_to "Analyze Your Friends Tweets", twitter_login_path, class:"btn btn-primary btn-nav" %></p> -->
    </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= image_tag current_user.profile_image %><br>
      <%= current_user.screen_name %>
    </ul>
    </div>
  </div>

    <%= render partial: "shared/tweet_analysis_table" %>
</div>
