<div class="container text-center transparent2">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="landing_text">Analysis Of <%= @friend[0] %>'s last 10 tweets</h1>
    </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= image_tag @friend[1] %><br>
      <%= @friend[0] %>
    </ul>
    </div>
  </div>

    <%= render partial: "shared/tweet_analysis_table" %>

</div>
