
<div class="container text-center">
  <div class="jumbotron">
    <h1>Are you Positive or Negative?</h1>
    <p>Analyze tweets to discover their sentiment.</p>
    <% if current_user %>
        <%= link_to "Back to my Dashboard!", dashboard_path, class:"btn btn-primary btn-lg" %>
      <% else %>
        <%= link_to "Sign in with Twitter", twitter_login_path, class:"btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
